## Import conda env from .yml file

![1](Python-for-Finance-Repo-master/images/import_environment_from.yml_file.PNG)

## Python Crash Course Part One

In [1]:
2+2

4

In [1]:
x = 'mystring'

In [3]:
2/2

1.0

In [4]:
2*2

4

In [5]:
2**4

16

In [6]:
4%2

0

In [7]:
5/2

2.5

In [8]:
5%2 # 5 modulo 2 equals 1 because 2*2 = 4 and then there is a remainder of 1 to get to 5

1

In [9]:
2+3*5+5

22

In [10]:
(2+3)*(5+5)

50

In [11]:
name_of_variable = 2 
x = 1
y = 2

In [12]:
x+y

3

In [13]:
name = 'jordan'

print('hello my name is {}'.format(name))

hello my name is jordan

In [14]:
number = 12
print ('hi my name is {} and my number is {}'.format(name, number))

hi my name is jordan and my number is 12

In [16]:
print (f'hi my name is {name} and my number is {number}')

hi my name is jordan and my number is 12

In [ ]:
#List 
[1,2,3]

In [18]:
my_list = [1,2,3]

In [19]:
# add to lists with append 
my_list.append(4)

In [20]:
my_list

[1, 2, 3, 4]

In [21]:
# to find index of a element in the list use square brackets
my_list[0]

1

In [23]:
# slicing 
my_list[0:2]

[1, 2]

In [24]:
#nested lists

nested = [1,2,['a','b']]

In [25]:
nested[2][0]

'a'

In [26]:
nested[2]

['a', 'b']

In [27]:
#dictionarys - very similar to a list but use key instead of index element

d = {'key':10, 'key2':'seconditem'}

In [28]:
d['key2']

'seconditem'

In [29]:
# tuples use parenthase instead of square brackets 
# the main difference between tuple and a list is that you can change the values in a list and 
# a tuple is immutable and cannot be changed
t = (1,2,3)

In [30]:
t[0]

1

In [31]:
my_list[0] = "NEW" # make 'NEW' the new element in the first index of the list

In [32]:
my_list

['NEW', 2, 3, 4]

In [33]:
t[0] = 'NEW' # notice we get an error when doing with a tuple

TypeError: 'tuple' object does not support item assignment

In [34]:
# Set looks like a dict and uses curly brackets but has no key 
{1,2,3}

{1, 2, 3}

In [35]:
# major difference is that it will only grab unique instances of an element 
{1,1,1,1,2,2,2,2,3,3,3,3}

{1, 2, 3}

In [36]:
# can use set with a list to acheive the same thing 
set([1,1,1,2,2,2,3,3,3])

{1, 2, 3}

In [37]:
# to do more complicated types of math import the math library 
import math

In [ ]:
# can just type math. and it will show a list of the fns that are available 
math.

## Python Crash Course Part Two

In [1]:
# comparison operators
1<2

True

In [2]:
1<=2

True

In [3]:
1!=2

True

In [4]:
1==1

True

In [5]:
'string'=='string'

True

In [6]:
1 =='1'

False

In [7]:
# logic operators
(1==2) and (1==1) # both must be true

False

In [ ]:
(1==2) or (1==1) # one must be true can also be 1==2 or 1==1 don't need parens

In [ ]:
(1==2) and (1==1)

In [8]:
(1==1) and not (1==2)

True

In [9]:
if True:
    print('hello')

hello

In [10]:
if (1==1):
    print('hello')

hello

In [11]:
if (1==2):
    print('hello')

In [12]:
if (1==2):
    print('hello')
else:
    print('if statement was not true')

if statement was not true

In [13]:
if (1==2):
    print('hello')
elif 2==2:
    print('two')
else:
    print('if statement was not true')

two

In [16]:
# for loops 
seq= [1,2,3,4,5]
for item in seq:
    print('hello')

hello
hello
hello
hello
hello

In [17]:

for item in seq:
    print(item)

1
2
3
4
5

In [18]:
for item in seq:
    print(item**2)

1
4
9
16
25

In [20]:
# while loops - loops of continuously as long as a specified condition is true 
i = 1
while i < 5: 
    print(f' i is currently {i}')
    i = i+1

 i is currently 1
 i is currently 2
 i is currently 3
 i is currently 4

In [21]:
# range - generates a list of integers 
range(5)

range(0, 5)

In [22]:
for item in range(5):
    print(item)

0
1
2
3
4

In [23]:
for item in range(1,5): # starts at 1 instead of 0 
    print(item)

1
2
3
4

In [24]:
for item in range(0, 20, 2): # steps size  
    print(item)

0
2
4
6
8
10
12
14
16
18

In [25]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
# list comprehension 
x = [1,2,3,4]

In [29]:
# create a list of numbers similar to x but with every number in x is squared 
out = []
for num in x: 
    out.append(num**2)
out

[1, 4, 9, 16]

In [30]:
[num**2 for num in x] # this is the list comprehension and it is basically a shorthand for a for loop

[1, 4, 9, 16]

## Python Crash Course Part Three