## Import conda env from .yml file

![1](Python-for-Finance-Repo-master/images/import_environment_from.yml_file.PNG)

## Python Crash Course Part One

In [130]:
2+2

4

In [131]:
x = 'mystring'

In [132]:
2/2

1.0

In [133]:
2*2

4

In [134]:
2**4

16

In [135]:
4%2

0

In [136]:
5/2

2.5

In [137]:
5%2 # 5 modulo 2 equals 1 because 2*2 = 4 and then there is a remainder of 1 to get to 5

1

In [138]:
2+3*5+5

22

In [139]:
(2+3)*(5+5)

50

In [140]:
name_of_variable = 2 
x = 1
y = 2

In [141]:
x+y

3

In [142]:
name = 'jordan'

print('hello my name is {}'.format(name))

hello my name is jordan

In [143]:
number = 12
print ('hi my name is {} and my number is {}'.format(name, number))

hi my name is jordan and my number is 12

In [144]:
print (f'hi my name is {name} and my number is {number}')

hi my name is jordan and my number is 12

In [145]:
#List 
[1,2,3]

[1, 2, 3]

In [146]:
my_list = [1,2,3]

In [147]:
# add to lists with append 
my_list.append(4)

In [148]:
my_list

[1, 2, 3, 4]

In [149]:
# to find index of a element in the list use square brackets
my_list[0]

1

In [150]:
# slicing 
my_list[0:2]

[1, 2]

In [151]:
#nested lists

nested = [1,2,['a','b']]

In [152]:
nested[2][0]

'a'

In [153]:
nested[2]

['a', 'b']

In [154]:
#dictionarys - very similar to a list but use key instead of index element

d = {'key':10, 'key2':'seconditem'}

In [155]:
d['key2']

'seconditem'

In [156]:
# tuples use parenthase instead of square brackets 
# the main difference between tuple and a list is that you can change the values in a list and 
# a tuple is immutable and cannot be changed
t = (1,2,3)

In [157]:
t[0]

1

In [158]:
my_list[0] = "NEW" # make 'NEW' the new element in the first index of the list

In [159]:
my_list

['NEW', 2, 3, 4]

In [160]:
# t[0] = 'NEW' # notice we get an error when doing with a tuple

In [161]:
# Set looks like a dict and uses curly brackets but has no key 
{1,2,3}

{1, 2, 3}

In [162]:
# major difference is that it will only grab unique instances of an element 
{1,1,1,1,2,2,2,2,3,3,3,3}

{1, 2, 3}

In [163]:
# can use set with a list to acheive the same thing 
set([1,1,1,2,2,2,3,3,3])

{1, 2, 3}

In [164]:
# to do more complicated types of math import the math library 
import math

In [165]:
# can just type math. and it will show a list of the fns that are available 
# math.

## Python Crash Course Part Two

In [166]:
# comparison operators
1<2

True

In [167]:
1<=2

True

In [168]:
1!=2

True

In [169]:
1==1

True

In [170]:
'string'=='string'

True

In [171]:
1 =='1'

False

In [172]:
# logic operators
(1==2) and (1==1) # both must be true

False

In [173]:
(1==2) or (1==1) # one must be true can also be 1==2 or 1==1 don't need parens

True

In [174]:
(1==2) and (1==1)

False

In [175]:
(1==1) and not (1==2)

True

In [176]:
if True:
    print('hello')

hello

In [177]:
if (1==1):
    print('hello')

hello

In [178]:
if (1==2):
    print('hello')

In [179]:
if (1==2):
    print('hello')
else:
    print('if statement was not true')

if statement was not true

In [180]:
if (1==2):
    print('hello')
elif 2==2:
    print('two')
else:
    print('if statement was not true')

two

In [181]:
# for loops 
seq= [1,2,3,4,5]
for item in seq:
    print('hello')

hello
hello
hello
hello
hello

In [182]:

for item in seq:
    print(item)

1
2
3
4
5

In [183]:
for item in seq:
    print(item**2)

1
4
9
16
25

In [184]:
# while loops - loops of continuously as long as a specified condition is true 
i = 1
while i < 5: 
    print(f' i is currently {i}')
    i = i+1

 i is currently 1
 i is currently 2
 i is currently 3
 i is currently 4

In [185]:
# range - generates a list of integers 
range(5)

range(0, 5)

In [186]:
for item in range(5):
    print(item)

0
1
2
3
4

In [187]:
for item in range(1,5): # starts at 1 instead of 0 
    print(item)

1
2
3
4

In [188]:
for item in range(0, 20, 2): # steps size  
    print(item)

0
2
4
6
8
10
12
14
16
18

In [189]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [190]:
# list comprehension 
x = [1,2,3,4]

In [191]:
# create a list of numbers similar to x but with every number in x is squared 
out = []
for num in x: 
    out.append(num**2)
out

[1, 4, 9, 16]

In [192]:
[num**2 for num in x] # this is the list comprehension and it is basically a shorthand for a for loop

[1, 4, 9, 16]

## Python Crash Course Part Three

In [193]:
# functions
# Lambda expressions
# map and filter
# various useful methods

def my_func():
    print('hello')
my_func()

hello

### fn

In [194]:
# fn with parameters 
def my_func(param):
    print(param)
my_func('jordan')

jordan

In [195]:
# fn with default parameters 
def my_func(param='default'):
    print(param)
my_func()

default

In [196]:
# fn with default parameters 
def my_func(param='default'):
    """
    Docstring goes here!

    """
    print(param)
my_func()

default

In [197]:
# fn with argument
def my_func(argument):
    """
    Docstring goes here!

    """
    return argument*5
x = my_func(5)
print(x)

25

### lambda fn

In [198]:
# Lambda expression - known as anonymous functions that allows you to quickly make ad hoc functions 
# that can be used just once and not saved with a name 

# Ex of a normal fn that multiplies a var by 2 that we will then show how to do with a lambda fn 
def times_two(var):
    return var*2
result = times_two(4)
result

8

In [199]:
#lambda fn version of the above fn 

lambda var: var*2

In [200]:
seq = [1,2,3,4,5]
list(map(times_two,seq)) # this takes the times_two fn and applied the fn to every number in seq then we cast that to a list

[2, 4, 6, 8, 10]

In [201]:
list(map(lambda num:num*2,seq)) # notice this is the same as with using the times_two fn but without saving the "times_two" fn and storing it

[2, 4, 6, 8, 10]

In [202]:
# normal fn: 
def is_even(num):
    return num%2 == 0 

list(filter(is_even,seq))

[2, 4]

In [203]:
# now we will do the same thing with a lambda expression 

# Step 1: replace "def" with "lambda" 
# Step 2: remove the fn name (is_even)
# Step 3: remove "return" keyword 

lambda num:num%2 == 0 

list(filter(lambda num:num%2 == 0 ,seq))

[2, 4]

### Methods

In [204]:
st = 'hello my name is Jordan'

In [205]:
st.lower()

'hello my name is jordan'

In [206]:
st.upper()

'HELLO MY NAME IS JORDAN'

In [207]:
tweet = 'Go Sports! #neat'

In [208]:
tweet.split()

['Go', 'Sports!', '#neat']

In [209]:
tweet.split('#')

['Go Sports! ', 'neat']

In [210]:
tweet.split('#')[1]

'neat'

In [211]:
# we will use a dictionary created earlier called d to demonstrate just returning the keys of a dict 
d

{'key': 10, 'key2': 'seconditem'}

In [212]:
d.keys()

dict_keys(['key', 'key2'])

In [214]:
my_list = [1,2,3]
my_list.append(4)
my_list

[1, 2, 3, 4]

In [215]:
my_list.pop() # removes the last item in a list

4

In [216]:
my_list

[1, 2, 3]

In [217]:
# if want to remove a certain item 
my_list.pop(2)

3

In [218]:
my_list

[1, 2]

In [219]:
1 in my_list

True